a {
  color: black;
}

.nowrap {
  white-space: nowrap;
}

.table {
  margin-bottom: 0;
}

.card-table td {
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  border-top: 0;
}

.navbar {
  margin-bottom: 0.4rem;
}

.card {
  margin-bottom: 1rem;
}

.card-body.student-card {
  padding: 0.75rem;
}

.card-img.student-img {
  max-width: 100px;
  height: auto;
}

.img-rounded.student-img {
  max-width: 72px;
  height: auto;
}

.long-description {
  max-height: 300px;
  overflow: auto;
}

.btn-group-sm >.btn, .btn-sm {
  margin: 2px 0;
}

.card-sub-header {
  border-top: 2px solid #ddd;
  border-bottom: none;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: #94bfe2;
}

#addStudentForm {
  padding-top: .6em;
  padding-right: .6em;
  padding-left: 1em;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
